/*!
Theme Name: Crop Service Center
Theme URI: http://underscores.me/
Author: Daron Spence
Author URI: http://502mediagroup.com
Description: A theme for Crop Service Center built by 502 Media Group
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: csc
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Crop Service Center is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";

$green 			: #777122 ;
$dark-green 	: #676022 ;
$gold 			: #f1b21f ;
$grey 			: #f1f2f3 ;
$black 			: #070303 ;
$white 			: #FFFFFF ;

$large 			: 70em ;
$medium 		: 50em ;
$small 			: 40em ;


@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

* {
	box-sizing: border-box;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

body {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#page {
	min-height: 100vh;
 	display: flex;
  	flex-direction: column;
 }
 #masthead {
 	flex-shrink: 0;
 }
 #content {
 	width: 100%; // fix widht for short pages w/ Flexbox
 	flex: 1 0 auto;
 }

 #colophon {
 	flex-shrink: 0;
 }

@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# TinyMCE
--------------------------------------------------------------*/
#tinymce {
	padding: 0.5em 1em !important;

	a:not(.button) {
		background: rgba( $gold, .1 );
	}
}



