button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid $gold;
	// border-color: $color__border-button;
	border-radius: 0;
	background: $gold;
	font-weight: bold;
	// text-transform: uppercase;
	-webkit-appearance: none;
	// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: $black;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .5em;
	// text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	transition: all 200ms ease;

	&:hover {
		color: $white;
		background: $green;
		border-color: $gold;
		// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		// border-color: $color__border-button-focus;
		// box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}