/*!
Theme Name: Crop Service Center
Theme URI: http://underscores.me/
Author: Daron Spence
Author URI: http://502mediagroup.com
Description: A theme for Crop Service Center built by 502 Media Group
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: csc
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Crop Service Center is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

.entry-title {
  color: #f1b21f;
  text-transform: uppercase;
  margin: 0; }

h1, h2 {
  color: #f1b21f; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

.mfp-close:hover {
  background: inherit;
  cursor: pointer; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
  border: 2px solid #f1b21f;
  border-radius: 0;
  background: #f1b21f;
  font-weight: bold;
  -webkit-appearance: none;
  color: #070303;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .5em;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  a.button:hover {
    color: #FFFFFF;
    background: #777122;
    border-color: #f1b21f; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #777122;
  text-decoration: none;
  -webkit-transition: color 200ms linear;
          transition: color 200ms linear; }
  a:visited {
    color: #777122; }
  a:hover, a:focus, a:active {
    color: #f1b21f; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

a[href$=".pdf"]:before {
  margin-right: 0.5em;
  content: ' \f1c1';
  font-family: 'FontAwesome'; }

a[href$=".doc"]:before, a[href$=".docx"]:before {
  margin-right: 0.5em;
  content: ' \f1c2';
  font-family: 'FontAwesome'; }

a[href$=".txt"]:before {
  margin-right: 0.5em;
  content: ' \f0f6';
  font-family: 'FontAwesome'; }

a[href$=".zip"]:before {
  margin-right: 0.5em;
  content: ' \f1c6';
  font-family: 'FontAwesome'; }

a[href^="mailto"]:before {
  margin-right: 0.5em;
  content: ' \f003';
  font-family: 'FontAwesome'; }

a.button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  display: inline-block;
  margin: 1em 0;
  padding: 1em;
  color: #FFFFFF; }

.cta {
  text-align: center; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#primary-menu.sf-menu {
  background: #FFFFFF;
  margin: 0;
  float: right; }
  #primary-menu.sf-menu li {
    background: none; }
    #primary-menu.sf-menu li:hover > a {
      color: #f1b21f; }
    #primary-menu.sf-menu li a {
      color: #070303;
      font-weight: bold;
      text-transform: uppercase; }
    #primary-menu.sf-menu li ul {
      background: #FFFFFF;
      border: 1px solid #f1b21f;
      width: 100%; }
      @media screen and (min-width: 40em) {
        #primary-menu.sf-menu li ul {
          width: auto; } }
      #primary-menu.sf-menu li ul ul {
        top: -1px; }
  @media screen and (max-width: 40em) {
    #primary-menu.sf-menu > li {
      display: block;
      width: 100%;
      border-bottom: 1px solid #f1f2f3; } }
  #primary-menu.sf-menu > li .sf-with-ul:after {
    border-top-color: #f1b21f; }
  #primary-menu.sf-menu > li > ul > li .sf-with-ul:after {
    border-left-color: #f1b21f;
    border-top-color: transparent; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.site-wrapper:before,
.site-wrapper:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after, .site-wrapper:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

.widget.wunderground {
  border: 1px solid #f1f2f3; }
  .widget.wunderground .widget-title {
    text-align: center; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#page {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

#masthead {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

#content {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

#colophon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

#masthead {
  background-color: #f1f2f3;
  background: url("background.png"); }
  #masthead .full-width-wrapper {
    background: #FFFFFF; }
  #masthead .site-title {
    display: inline-block;
    margin: 0;
    margin-top: .25em; }
    #masthead .site-title a {
      display: inline-block;
      background: url("logo.png") center 100%/contain no-repeat;
      width: 5em;
      height: 2.5em; }
  #masthead .site-branding {
    float: left;
    width: 20%; }
    @media screen and (max-width: 40em) {
      #masthead .site-branding {
        float: none;
        width: auto;
        text-align: center; } }
  #masthead .main-navigation {
    float: left;
    width: 75%;
    position: absolute;
    bottom: 0;
    right: 0; }
    @media screen and (max-width: 40em) {
      #masthead .main-navigation {
        float: none;
        width: auto;
        position: static; } }
  #masthead .site-wrapper {
    position: relative;
    padding: 0 1em; }
    @media screen and (min-width: 70em) {
      #masthead .site-wrapper {
        padding: 0; } }
  #masthead .header-image {
    width: 100%; }

/* CONTENT - SIDEBAR Layout CSS */
.content-area {
  float: left;
  margin: 0 -35% 0 0;
  width: 100%; }

.site-main {
  margin: 0 35% 0 0;
  padding: 0 2em 0 0; }
  @media screen and (max-width: 40em) {
    .site-main {
      margin: 0;
      padding: 0; } }

.site-content .widget-area {
  float: right;
  overflow: hidden;
  width: 35%; }
  @media screen and (max-width: 40em) {
    .site-content .widget-area {
      display: none; } }

.site-footer {
  clear: both;
  width: 100%; }

.site-wrapper {
  max-width: 70em;
  margin: 0 auto;
  display: block; }

@media screen and (max-width: 40em) {
  #secondary {
    width: 100%; } }
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.entry-content h2 {
  color: #f1b21f;
  text-transform: uppercase; }

.edit-link {
  margin: 1em 0;
  display: inline-block; }

.single-csc_locations .featured-image {
  display: block; }
.single-csc_locations .employees .employee {
  border-bottom: 2px solid #777122;
  margin-bottom: 2em; }
  .single-csc_locations .employees .employee:last-child {
    margin-bottom: 0; }
  .single-csc_locations .employees .employee .wrapper {
    padding: 0 1em; }
  .single-csc_locations .employees .employee .employee-title {
    font-weight: 400; }
  .single-csc_locations .employees .employee .employee-name {
    background: #f1b21f;
    padding: 0.25em 0.5em;
    color: #FFFFFF;
    margin-top: 0; }
  .single-csc_locations .employees .employee img {
    width: 25%;
    float: left; }
  .single-csc_locations .employees .employee img ~ .wrapper {
    width: 75%;
    float: left; }
  .single-csc_locations .employees .employee .seperator {
    margin: 0 1em; }
  .single-csc_locations .employees .employee .contact span {
    padding: 0.5em 0;
    display: inline-block; }
  .single-csc_locations .employees .employee .contact .fa {
    margin-right: 0.5em; }
  .single-csc_locations .employees .employee .email, .single-csc_locations .employees .employee .phone {
    font-weight: 700;
    white-space: nowrap; }
    .single-csc_locations .employees .employee .email a, .single-csc_locations .employees .employee .phone a {
      font-weight: normal; }

.locations-list .locations-list-item {
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
  float: left;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 40em) {
    .locations-list .locations-list-item {
      width: 22%;
      margin-left: 0;
      margin-right: 4%; } }
  .locations-list .locations-list-item:nth-child(4n) {
    margin-right: 0; }
  .locations-list .locations-list-item:nth-child(4n+5) {
    clear: left; }
  .locations-list .locations-list-item a {
    display: block;
    text-decoration: none;
    position: relative; }
    .locations-list .locations-list-item a .hover-wrapper:after {
      position: absolute;
      top: .25em;
      left: .25em;
      content: '';
      width: 4px;
      background: #f1b21f;
      -webkit-transition: all 200ms ease;
              transition: all 200ms ease;
      bottom: 100%; }
    .locations-list .locations-list-item a .hover-wrapper:before {
      position: absolute;
      top: .25em;
      right: .25em;
      left: 100%;
      content: '';
      height: 4px;
      background: #f1b21f;
      -webkit-transition: all 200ms ease;
              transition: all 200ms ease; }
    .locations-list .locations-list-item a:hover .location-title {
      background: #777122; }
    .locations-list .locations-list-item a:hover .hover-wrapper:after {
      bottom: 0.25em; }
    .locations-list .locations-list-item a:hover .hover-wrapper:before {
      left: 0.25em; }
    .locations-list .locations-list-item a:hover .bottom-right:before {
      right: .25em; }
    .locations-list .locations-list-item a:hover .bottom-right:after {
      top: .25em; }
  .locations-list .locations-list-item .hover-wrapper {
    position: relative; }
  .locations-list .locations-list-item .bottom-right:before {
    position: absolute;
    bottom: .25em;
    right: 100%;
    left: .25em;
    content: '';
    height: 4px;
    background: #f1b21f;
    -webkit-transition: all 200ms ease;
            transition: all 200ms ease; }
  .locations-list .locations-list-item .bottom-right:after {
    position: absolute;
    bottom: .25em;
    right: .25em;
    content: '';
    width: 4px;
    background: #f1b21f;
    -webkit-transition: all 200ms ease;
            transition: all 200ms ease;
    top: 100%; }
  .locations-list .locations-list-item img {
    display: block; }
.locations-list .location-title {
  margin: 0;
  background: #f1b21f;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0.25em 0.5em;
  text-align: center;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease; }

.test-plot-reports .report, .test-plot-reports .newsletter, .newsletters .report, .newsletters .newsletter {
  margin-bottom: 2em; }
.test-plot-reports .report-link, .test-plot-reports .newsletter-link, .newsletters .report-link, .newsletters .newsletter-link {
  display: block;
  overflow: hidden;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  border: 1px solid transparent;
  padding: 1em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .test-plot-reports .report-link:after, .test-plot-reports .report-link:before, .test-plot-reports .newsletter-link:after, .test-plot-reports .newsletter-link:before, .newsletters .report-link:after, .newsletters .report-link:before, .newsletters .newsletter-link:after, .newsletters .newsletter-link:before {
    content: none; }
  .test-plot-reports .report-link:hover, .test-plot-reports .newsletter-link:hover, .newsletters .report-link:hover, .newsletters .newsletter-link:hover {
    background: #f1f2f3;
    border-color: #070303; }
    .test-plot-reports .report-link:hover .report-icon, .test-plot-reports .report-link:hover .newsletter-icon, .test-plot-reports .newsletter-link:hover .report-icon, .test-plot-reports .newsletter-link:hover .newsletter-icon, .newsletters .report-link:hover .report-icon, .newsletters .report-link:hover .newsletter-icon, .newsletters .newsletter-link:hover .report-icon, .newsletters .newsletter-link:hover .newsletter-icon {
      border-color: #f1f2f3; }
.test-plot-reports .report-icon, .test-plot-reports .newsletter-icon, .newsletters .report-icon, .newsletters .newsletter-icon {
  float: left;
  padding: 1em;
  background: #f1f2f3;
  border: 1px solid #070303;
  width: 12%;
  -webkit-transition: border 200ms ease;
          transition: border 200ms ease;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1; }
.test-plot-reports .right, .newsletters .right {
  width: 88%;
  float: right;
  padding: 0 1em; }
.test-plot-reports .report-title, .test-plot-reports .newsletter-title, .newsletters .report-title, .newsletters .newsletter-title {
  margin: 0;
  text-transform: uppercase; }
@media screen and (max-width: 40em) {
  .test-plot-reports .right, .newsletters .right {
    width: 100%;
    padding: 0; }
  .test-plot-reports .report-icon, .test-plot-reports .newsletter-icon, .newsletters .report-icon, .newsletters .newsletter-icon {
    display: none; } }
.test-plot-reports p, .newsletters p {
  margin-top: .5em;
  margin-bottom: 0; }

.accordion {
  background: #f1f2f3;
  padding: .5em 1em;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.5em; }
  .accordion.open {
    height: auto; }
    .accordion.open:after {
      content: 'Click to collapse'; }
    .accordion.open:before {
      content: none; }
  .accordion:after {
    content: 'Click to read more';
    position: absolute;
    top: .5em;
    right: .5em;
    background: #f1b21f;
    padding: .5em; }
  .accordion:hover {
    cursor: pointer; }
  .accordion:before {
    background: -webkit-linear-gradient(transparent, #f1f2f3);
    background: linear-gradient(transparent, #f1f2f3);
    content: '';
    display: block;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .accordion p:empty {
    display: none; }

.images-with-links {
  text-align: center; }
  .images-with-links .image-link {
    margin: 0 1em;
    position: relative;
    display: inline-block; }
    .images-with-links .image-link:hover:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background-color: rgba(7, 3, 3, 0.05); }
    .images-with-links .image-link img {
      display: block; }

#content.site-wrapper {
  padding: 1em; }
  @media screen and (min-width: 70em) {
    #content.site-wrapper {
      padding: 1em 0; } }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

#secondary .market-data {
  background: #f1f2f3;
  padding: 2em 1em;
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

#colophon {
  padding: 2em 1em;
  background-color: #777122;
  color: #FFFFFF; }
  @media screen and (min-width: 70em) {
    #colophon {
      padding: 2em 0; } }
  @media screen and (min-width: 40em) {
    #colophon .one-third, #colophon .gforms_confirmation_message {
      width: 30%;
      margin-right: 3.33333%;
      margin-right: calc(10%/2);
      float: left; }
    #colophon .gform_wrapper {
      margin: 0;
      width: 30%;
      margin-right: 3.33333%;
      margin-right: calc(10%/2);
      float: left; }
      #colophon .gform_wrapper h3.gform_title {
        font-size: 1.1em; }
      #colophon .gform_wrapper#gform_wrapper_2 {
        margin-right: 0; } }
  @media screen and (min-width: 40em) and (min-width: 50em) {
    #colophon .gform_wrapper .gform_body {
      width: 70%;
      float: left; }
      #colophon .gform_wrapper .gform_body #field_1_1:before {
        content: '\f10b'; }
      #colophon .gform_wrapper .gform_body #field_2_1:before {
        content: '\f003'; }
      #colophon .gform_wrapper .gform_body li.gfield:before {
        font-family: 'FontAwesome';
        font-size: 2.5em;
        display: block;
        float: left;
        line-height: 1;
        width: 1em;
        overflow: hidden;
        position: relative;
        top: -1px; }
    #colophon .gform_wrapper .ginput_container {
      margin: 0;
      position: relative;
      top: 0px;
      float: right;
      width: 80%; }
    #colophon .gform_wrapper .gform_footer {
      width: 30%;
      float: left;
      clear: none;
      margin: 0; }
      #colophon .gform_wrapper .gform_footer input[type="submit"], #colophon .gform_wrapper .gform_footer a.button {
        padding-left: .25em;
        padding-right: .25em; } }
  @media screen and (min-width: 40em) {
      #colophon .gform_wrapper .gfield_label:not([for="input_1_2_3"]) {
        display: none; }
      #colophon .gform_wrapper #field_1_2 {
        text-align: right;
        display: none; }
        #colophon .gform_wrapper #field_1_2 .gfield_required {
          display: none; }
      #colophon .gform_wrapper .ginput_container input[type="text"] {
        border: none; }
        #colophon .gform_wrapper .ginput_container input[type="text"]::-webkit-input-placeholder {
          color: #FFFFFF; }
        #colophon .gform_wrapper .ginput_container input[type="text"]::-moz-placeholder {
          color: #FFFFFF; }
        #colophon .gform_wrapper .ginput_container input[type="text"]:-ms-input-placeholder {
          color: #FFFFFF; }
        #colophon .gform_wrapper .ginput_container input[type="text"]::placeholder {
          color: #FFFFFF; }
      #colophon .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_first {
        margin-right: 0; }
      #colophon .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_last {
        margin-left: -2px; }
      #colophon .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span input[type="text"] {
        border-radius: 0; }
      #colophon .gform_wrapper .gform_heading {
        margin: 0;
        width: 100%; }
        #colophon .gform_wrapper .gform_heading .gform_title {
          text-transform: uppercase;
          margin: 0; }
      #colophon .gform_wrapper .gform_footer {
        padding: 0; } }
  #colophon .one-third .menu {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    #colophon .one-third .menu > li > a {
      font-size: 1.1em;
      text-transform: uppercase;
      font-weight: bold; }
    #colophon .one-third .menu a {
      color: #FFFFFF;
      text-decoration: none; }
    #colophon .one-third .menu ul {
      padding: 0;
      margin: 0;
      list-style: none; }

.site-info {
  margin-top: 2em;
  text-align: center; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
  overflow: hidden; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%;
    max-width: 48%; }
  .gallery-columns-3 .gallery-item {
    max-width: 31.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 23%; }
  .gallery-columns-5 .gallery-item {
    max-width: 18%; }
  .gallery-columns-6 .gallery-item {
    max-width: 14.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 12.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 10.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 9.11%; }

.gallery-caption {
  display: block; }

.gallery-title {
  margin: 0;
  font-size: 1.5em;
  color: #f1b21f;
  text-transform: uppercase;
  text-align: center; }

.gallery figure.gallery-item {
  margin: 0;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%; }
  .gallery figure.gallery-item:after {
    content: none; }
.gallery .gallery-icon img {
  margin: 0 auto;
  width: 100%; }

.popup-gallery, .gallery {
  margin: 1em 0; }
  .popup-gallery .gallery-item, .gallery .gallery-item {
    float: left;
    display: block;
    position: relative;
    overflow: hidden; }
    .popup-gallery .gallery-item:after, .popup-gallery .gallery-item .gallery-icon a:after, .gallery .gallery-item:after, .gallery .gallery-item .gallery-icon a:after {
      content: '\f00e';
      color: #FFFFFF;
      font-size: 3em;
      display: block;
      opacity: 0;
      font-family: 'FontAwesome';
      position: absolute;
      left: 0;
      right: 0;
      background-color: rgba(7, 3, 3, 0.25);
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      padding: 50% 0;
      -webkit-transition: opacity 200ms ease;
              transition: opacity 200ms ease; }
    .popup-gallery .gallery-item:hover:after, .popup-gallery .gallery-item:hover .gallery-icon a:after, .gallery .gallery-item:hover:after, .gallery .gallery-item:hover .gallery-icon a:after {
      opacity: 1; }
    .popup-gallery .gallery-item img, .gallery .gallery-item img {
      display: block; }
  .popup-gallery .half, .gallery .half {
    width: 40%;
    margin: 0 5%; }
    .popup-gallery .half:nth-child(2n), .gallery .half:nth-child(2n) {
      clear: right; }
  .popup-gallery .third, .gallery .third {
    width: 30%;
    margin: 1.666666%;
    margin: calc(5%/3); }
    .popup-gallery .third:nth-child(3n), .gallery .third:nth-child(3n) {
      clear: right; }

/*--------------------------------------------------------------
# TinyMCE
--------------------------------------------------------------*/
#tinymce {
  padding: 0.5em 1em !important; }
  #tinymce a:not(.button) {
    background: rgba(241, 178, 31, 0.1); }
