.gallery {
	margin-bottom: 1.5em;
	overflow: hidden;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;

	.gallery-columns-2 & {
		max-width: 50%;
		max-width: 48%;
	}

	.gallery-columns-3 & {
		max-width: 31.33%;
		
	}

	.gallery-columns-4 & {
		max-width: 23%;
	}

	.gallery-columns-5 & {
		max-width: 18%;
	}

	.gallery-columns-6 & {
		max-width: 14.66%;
	}

	.gallery-columns-7 & {
		max-width: 12.28%;
	}

	.gallery-columns-8 & {
		max-width: 10.5%;
	}

	.gallery-columns-9 & {
		max-width: 9.11%;
	}
}

.gallery-caption {
	display: block;
}


.gallery-title {
	margin: 0;
	font-size: 1.5em;
	color: $gold;
	text-transform: uppercase;
	text-align: center;
}

.gallery {

	figure.gallery-item {
		margin: 0;
		margin-bottom: 2%;
		margin-left: 1%;
		margin-right: 1%;

		&:after {
			content: none;
		}
	}

	.gallery-icon {

		img {
			margin: 0 auto;
			width: 100%;
		}
	}
}

.popup-gallery, .gallery {
	margin: 1em 0;

	.gallery-item {
		float: left;
		display: block;
		position: relative;
		overflow: hidden;

		&:after, .gallery-icon a:after {
			content: '\f00e';
			color: $white;
			font-size: 3em;
			display: block;
			opacity: 0;
			font-family: 'FontAwesome';
			position: absolute;
			// top: 0;
			// bottom: 0;
			left: 0;
			right: 0;
			background-color: transparentize( $black, 0.75 );
			top: 50%;
			transform: translateY(-50%);
			padding: 50% 0;
			transition: opacity 200ms ease;
		}

		&:hover {

			&:after, .gallery-icon a:after {
				opacity: 1;
			}
		}

		img {
			display: block;
		}
	}

	.half {
		width: 40%;
		margin: 0 5%;

		&:nth-child(2n){
			// margin-left: 10%;
			// margin-right: 0;
			clear: right;
		}
	}

	.third {
		width: 30%;
		margin: 1.666666%;
		margin: calc(5%/3);

		&:nth-child(3n){
			clear: right;
		}
	}
}