#colophon {
	padding: 2em 1em;
	background-color: $green;
	color: $white;

	@media screen and ( min-width: $large ){
		padding: 2em 0;
	}

	@media screen and ( min-width: $small ){

		.one-third, .gforms_confirmation_message {
			width: 30%;
			margin-right: 3.33333%;
			margin-right: calc(10%/2);
			float: left;
		}

		.gform_wrapper {
			margin: 0;
			width: 30%;
			margin-right: 3.33333%;
			margin-right: calc(10%/2);
			float: left;

			 h3.gform_title {
			 	font-size: 1.1em;
			 }

			&#gform_wrapper_2 {
				margin-right: 0;
			}
			

			@media screen and (min-width: 50em){
				.gform_body {
					width: 70%;
					float: left;

					#field_1_1:before {
						content: '\f10b';
					}

					#field_2_1:before {
						content: '\f003';
					}

					li.gfield:before {
						font-family: 'FontAwesome';
						font-size: 2.5em;
						display: block;
						float: left;
						line-height: 1;
						width: 1em;
						overflow: hidden;
						position: relative;
						top: -1px;
					}
				}

				.ginput_container {
					margin: 0;
					position: relative;
					top: 0px;
					float: right;
					width: 80%;
				}
				.gform_footer {
					width: 30%; 
					float: left;
					clear: none;
					margin: 0;

					input[type="submit"]{
						padding-left: .25em;
						padding-right: .25em;
					}
					
				}
			}

			.gfield_label:not([for="input_1_2_3"]) {
				display: none;
			}

			#field_1_2 {
				text-align: right;
				display: none;

				.gfield_required {
					display: none;
				}
			}

			.ginput_container input[type="text"] {
				//background: $dark-green;
				//color: $white;
				border: none;

				&::placeholder {
					color: $white;
				}
			}

			.ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name{

				 span.name_first {
					margin-right: 0;
				}

				span.name_last {
					margin-left: -2px;
				}

				span input[type="text"]{
					border-radius: 0;
				}
			}

			.gform_heading {
				margin: 0;
				width: 100%;

				.gform_title {
					text-transform: uppercase;
					margin: 0;
				}

			}

			.gform_footer {
				padding: 0;

			}
		}

	}

	.one-third .menu {
		padding: 0;
		margin: 0;
		list-style-type: none;

		> li > a {
			font-size: 1.1em;
			text-transform: uppercase;
			font-weight: bold;
		}

		a {
			color: $white;
			text-decoration: none;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
	}

}

.site-info {
	margin-top: 2em;
	text-align: center;
}