#masthead {
	background-color: $grey;
	background: url('background.png');

	.full-width-wrapper {
		background: $white;
	}

	.site-title {
		display: inline-block;
		margin: 0;
		margin-top: .25em;

		a {
			display: inline-block;
			background: url("logo.png") center 100%/contain no-repeat;
			width: 5em;
			height: 2.5em;
		}

	}

	.site-branding {
		float: left;
		width: 20%;

		@media screen and ( max-width: $small ){
			float: none;
			width: auto;
			text-align: center;
		}
	}

	.main-navigation {
		float: left;
		width: 75%;
		position: absolute;
		bottom: 0;
		right: 0;

		@media screen and ( max-width: $small ){
			float: none;
			width: auto;
			position: static;
		}
	}

	.site-wrapper {
		//background: $white;
		position: relative;

		padding: 0 1em;

		@media screen and ( min-width: $large ){
			padding: 0;
		}
	}

	.header-image {
		width: 100%;
	}
}
