@import "header";

/* CONTENT - SIDEBAR Layout CSS */
.content-area {
	float: left;
	margin: 0 -35% 0 0;
	width: 100%;
}
.site-main {
	margin: 0 35% 0 0;
	padding: 0 2em 0 0;

	@media screen and ( max-width: $small ){
		margin: 0;
		padding: 0;
	}
}
.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 35%;

	@media screen and ( max-width: $small ){
		display: none;
	}
}
.site-footer {
	clear: both;
	width: 100%;
}


.site-wrapper {
	max-width: $large;
	margin: 0 auto;
	display: block;
}

@media screen and ( max-width: 40em ){
	#secondary {
		width: 100%;
	}
}



/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

#content.site-wrapper {
	padding: 1em;

	@media screen and (min-width: $large){
		padding: 1em 0;
	}
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

#secondary {

	.market-data {
		background: $grey;
		padding: 2em 1em;
		font-weight: bold;
		text-align: center;
		font-size: 1.25em;
		text-transform: uppercase;
	}
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

@import "footer";