a {
	color: $green;
	text-decoration: none;
	//border-bottom: 2px solid $gold;
	transition: color 200ms linear;

	&:visited {
		color: $green;
	}
	&:hover,
	&:focus,
	&:active {
		color: $gold;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a[href$=".pdf"]{
	&:before {
		margin-right: 0.5em;
		content:' \f1c1';
		font-family: 'FontAwesome';
	}
}

a[href$=".doc"], a[href$=".docx"]{
	&:before {
		margin-right: 0.5em;
		content:' \f1c2';
		font-family: 'FontAwesome';
	}
}
a[href$=".txt"]{
	&:before {
		margin-right: 0.5em;
		content:' \f0f6';
		font-family: 'FontAwesome';
	}
}

a[href$=".zip"]{
	&:before {
		margin-right: 0.5em;
		content:' \f1c6';
		font-family: 'FontAwesome';
	}
}

a[href^="mailto"]{
	&:before {
		margin-right: 0.5em;
		content:' \f003';
		font-family: 'FontAwesome';
	}
}