/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

a.button {
	@extend input[type="submit"];

	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 1px;
	display: inline-block;
	margin: 1em 0;
	padding: 1em;
	color: $white;
}

.cta {
	text-align: center;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
// @import "menus";

#primary-menu.sf-menu {
	background: $white;
	margin: 0;
	float: right;

	li {
		background: none;

		&:hover {

			> a {
				color: $gold;
			}

		}

		a {
			color: $black;
			font-weight: bold;
			text-transform: uppercase;
		}

		ul {
			background: $white;
			border: 1px solid $gold;
			width: 100%;
			
			@media screen and (min-width: $small) {
				width: auto;
			}

			ul {
				top: -1px;
			}
		}
	}

	> li {
		@media screen and ( max-width: $small ){
			display: block;
			width: 100%;
			border-bottom: 1px solid $grey;
		}

		.sf-with-ul:after {
			border-top-color: $gold;
		}
	}

	> li > ul > li .sf-with-ul:after {
		border-left-color: $gold;
		border-top-color: transparent;
	}

}