.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-content {

	h2 {
		color: $gold;
		text-transform: uppercase;
	}
}

.edit-link {
	margin: 1em 0;
	display: inline-block;
}


.single-csc_locations {

	.featured-image {
		display: block;
	}

	.employees {

		.employee {
			border-bottom: 2px solid $green;
			margin-bottom: 2em;

			&:last-child {
				//border-bottom: none;
				margin-bottom: 0;
			}

			.wrapper {
				padding: 0 1em;
			}

			.employee-title {
				font-weight: 400;
			}

			.employee-name {
				background: $gold;
				padding: 0.25em 0.5em;
				color: $white;
				margin-top: 0;
			}
			
			img {
				width: 25%;
				float: left;
			}

			img ~ .wrapper {
				width: 75%;
				float: left;
			}
			
			.seperator {
				margin: 0 1em;
			}
			
			.contact {

				span {
					padding: 0.5em 0;
					display: inline-block;
				}

				.fa {
					margin-right: 0.5em;
				}
			}

			.email, .phone {
				font-weight: 700;
				white-space: nowrap;

				a {
					font-weight: normal;
				}
			}
		}
	}
} // End Single Locations

.locations-list {

	.locations-list-item {
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 4%;
		float: left;
		position: relative;
		overflow: hidden;

		@media screen and (min-width: $small){
			width: 22%;
			margin-left: 0;
			margin-right: 4%;
		}
		
		&:nth-child(4n){
			margin-right: 0;
		}

		&:nth-child(4n+5){
			clear: left;
		}

		a {
			display: block;
			text-decoration: none;
			position: relative;

			.hover-wrapper:after {
				position: absolute;
				top: .25em;
				left: .25em;
				content: '';
				width: 4px;
				background: $gold;
				transition: all 200ms ease;
				bottom: 100%;
			}

			.hover-wrapper:before {
				position: absolute;
				top: .25em;
				right: .25em;
				left: 100%;
				content: '';
				height: 4px;
				background: $gold;
				transition: all 200ms ease;
			}

			&:hover {

				.location-title {
					background: $green;
				}

				.hover-wrapper:after {
					bottom: 0.25em;
				}

				.hover-wrapper:before {
					left: 0.25em;
				}

				.bottom-right:before {
					right: .25em;
				}

				.bottom-right:after {
					top: .25em;
				}
			}
		}

		.hover-wrapper {
			position: relative;
		}

		.bottom-right {

			&:before {
				position: absolute;
				bottom: .25em;
				right: 100%;
				left: .25em;
				content: '';
				height: 4px;
				background: $gold;
				transition: all 200ms ease;
			}
			
			&:after {
				position: absolute;
				bottom: .25em;
				right: .25em;
				content: '';
				width: 4px;
				background: $gold;
				transition: all 200ms ease;
				top: 100%;
			}
		}

		img {
			display: block;
		}
	}

	.location-title {
		margin: 0;
		background: $gold;
		color: $white;
		text-transform: uppercase;
		padding: 0.25em 0.5em;
		text-align: center;
		transition: all 200ms ease;
	}
}

.test-plot-reports, .newsletters {

	.report, .newsletter {
		margin-bottom: 2em;
	}

	.report-link, .newsletter-link {
		display: block;
		overflow: hidden;
		transition: all 200ms ease;
		border: 1px solid transparent;
		padding: 1em 0;
		display: flex;
		align-items: center;

		&:after, &:before {
			content: none;
		}

		&:hover {
			background: $grey;
			border-color: $black;

			.report-icon, .newsletter-icon {
				border-color: $grey;
			}

		}
	}
	
	.report-icon, .newsletter-icon {
		float: left;
		padding: 1em;
		background: $grey;
		border: 1px solid $black;
		width: 12%;
		transition: border 200ms ease;
		order: -1;
	}

	.right {
		width: 88%;
		float: right;
		padding: 0 1em;
	}

	.report-title, .newsletter-title {
		margin: 0;
		text-transform: uppercase;
	}

	@media screen and (max-width: $small ){
		
		.right {
			width: 100%;
			padding: 0;
		}

		.report-icon, .newsletter-icon {
			display: none;
		}

	}

	p {
		margin-top: .5em;
		margin-bottom: 0;
	}
}
.accordion {
	background: $grey;
	padding: .5em 1em;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin-bottom: 1.5em;

	&.open {
		height: auto;

		&:after {
			content: 'Click to collapse';
		}

		&:before {
			content: none;
		}
	}

	&:after {
		content: 'Click to read more';
		position: absolute;
		top: .5em;
		right: .5em;
		background: $gold;
		padding: .5em;
	}

	&:hover {
		cursor: pointer;
	}

	&:before {
		background: linear-gradient(rgba(0, 0, 0, 0), $grey );
		content: '';
		display: block;
		height: 100px;
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	p:empty {
		display: none;
	}
}

.images-with-links {
	text-align: center;

	.image-link {
		margin: 0 1em;
		position: relative;
		display: inline-block;

		&:hover:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
			background-color: transparentize( $black, 0.95 );
		}

		img {
			display: block;
		}
	}
}
